body {
    width: 100%;
    height: 92%;
    min-width: 260px;
    padding: 0;
    margin: 0;

    background-color: #144159;
}

html {
    height: 90%;
    padding: 0;
    margin: 0;
}

.header {
    display: block;
    width: 100%;
    height: 40px;

    vertical-align: middle;
}

.shop {
    display: block;
    width: auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    padding-top: 10px;
    margin: 0;

    text-align: left;

    border: solid 4px #28759e;
    background-color: #d1e4f7;
}

.push-top {
    height: 40px;
}

.push-bot {
    height: 60px;
}

.title {
    position: relative;
    top: 10px;

    display: inline-block;
    float: left;
    padding-left: 20px;

    text-align: left;
    text-transform: uppercase;

    color: #b1d4e7;
}

.navicon {
    position: relative;
    top: 8px;
    right: 5px;

    display: inline-block;
    float: right;
    height: 100%;

    text-align: right;
    text-transform: uppercase;
    /*    border-left: 2px #b1d4e7 dotted;*/
}

.navicon svg {
    top: 8px;

    height: 24px;
}

.login-container {
    display: inline-block;
    float: right;
    padding-top: 14px;
    padding-right: 10px;
    margin-top: 1px;

    background-color: inherit;
}

.login-window {
    position: fixed;
    top: 200px;
    left: 500px;
    z-index: 3;

    visibility: hidden;
    width: 200px;
    height: 138px;

    text-align: center;

    border: 1px solid #eee;
    background-color: #fff;
}

.darkener {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    visibility: hidden;
    width: 100%;
    height: auto;
    height: 100%;

    opacity: .5;
    background-color: #333;
}

.search-button {
    position: relative;
    top: -2px;
    left: 40px;
}

a:link {
    text-decoration: none;

    color: grey;
}

a:visited {
    text-decoration: none;

    color: #fff;
}

a:hover {
    text-decoration: none;

    color: blue;
}

form.search input[type="text"] {
    min-width: 163px;
    padding-left: 3px;
    margin-right: 0;
    margin-left: 2px;

    color: #333;
    border: none;
    border-radius: 2px;
    background: #eee;
}

form.search input[type="submit"] {
    position: relative;
    right: -9px;

    border: none;
    border-radius: 2px;
}

#textSearch {
    width: 200px;
}

.filter {
    display: inline-block;
    width: 31%;
}

.sort {
    display: inline-block;
    width: 19%;
}

.find {
    display: inline-block;
    width: 48%;
    padding-left: 5px;
}

.search fieldset {
    padding-left: 10px;
    margin: 0 0 0 2px;
}

.find fieldset {
    padding-top: 2px;
}

input,
select {
    margin-right: 10px;
}

.selectShop {
    display: inline-block;
    float: left;
    min-width: 200px;
    padding-bottom: 3px;
    margin-left: 7px;
}

.selectShop select {
    width: 100%;

    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    border-left-width: 1px;
}

.shopInfo {
    display: inline-block;
    width: 100%;

    text-align: center;
}

.shopName {
    display: block;

    font-size: 1.1em;

    word-wrap: break-word;
}

.shopDescription {
    display: block;

    word-wrap: break-word;
}

.shopAddress {
    display: block;

    font-style: italic;

    word-wrap: break-word;
}

.map {
    position: relative;

    display: inline-block;
    width: 75%;
    height: 280px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;

    border: solid #045228 2px;
}

.footer {
    display: block;
    width: 100%;
    height: 60px;
    margin: 0;
    overflow: hidden;
}

.content {
    display: inline-block;
    padding: 5px;
}

.login input {
    margin-top: 10px;
}

.close {
    display: inline-block;
    width: 60%;
    margin-top: 7px;
    margin-bottom: -2px;

    cursor: default;

    border: solid 1px #9f9f9f;
    border-radius: 3px;
    background-color: #cfcfcf;
}

.close:hover {
    border: solid 1px #3f3fbf;
    background-color: #dfdfdf;
}

form.login {
    text-align: center;
}

#map_canvas {
    display: inline-block;
    width: 100%;
    height: 280px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.mapbuttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.zoom-in,
.zoom-out {
    display: inline-block;
    width: 20px;
    height: 20px;

    cursor: default;
    text-align: center;
    vertical-align: middle;

    border: solid 1px #000;
    background-color: #b1eccc;
}

.header,
.footer {
    background-color: #043149;
}

.search-container,
.search {
    display: block;
}

.menu {
    display: inline-block;
    width: calc(100% - 2px);
    padding-left: 2px;

    background-color: #26b066;
}

.element {
    display: block;
    width: calc( 100% - 7px);
    padding-left: 4px;
    margin: 3px;

    background-color: #79ecae;
}

/* ========= COLORS ============*/
/*Основной Цвет:
*               
*   #28759E #355262 #043149 #7CC2E7 #B1D4E7
*Вторичный Цвет A:
*               
*   #3742AC #3E426A #060D50 #8891EB #B8BDEB
*Вторичный Цвет B:
*               
*   #26B066 #386D50 #045228 #79ECAE #B1ECCC
*/
